@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 769px) {
  .menubtn {
    display: none;
  }
}
@media screen and (max-width:769px) {
    .bigmenu {    
      display: none;
    }
}
