@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: medium;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

* {
  font-family: "Poppins", sans-serif !important;
}
.box-shadow {
  box-shadow: 0 0 10px 0 #0000002e;
}
.box-shadow-dark {
  box-shadow: 0 0 20px 0 #0000006e;
}
.bg-blue{
  background-color: #1F57A1;
}
.partner_network_img::after {
  content: '';
  height: 14px;
  width: 815px;
  position: absolute;
  left: 100%;
  background: #ccc;
  top:50%;
  z-index: 1;
}
.partner_network::before {
  content: '';
  height: 14px;
  width: 335px;
  position: absolute;
  left: 140%;
  background: url('/icons/dots.svg') no-repeat;
  top:53%;
  z-index: 99;
}
.profit_list_1::after {
  content: "";
  background: url("/icons/line_with_arrow.svg");
  position: absolute;
  right: -30%;
  top: 50%;
  height: 42px;
  width: 118px;
  background-repeat: no-repeat;
}
.profit_list_2::after {
  content: "";
  background: url("/icons/line_with_arrow.svg");
  position: absolute;
  right: -30%;
  top: 15%;
  height: 42px;
  width: 118px;
  background-repeat: no-repeat;
  transform: rotateX(179deg);
}
.profit_list_3::after {
  content: "";
  background: url("/icons/line_with_arrow.svg");
  position: absolute;
  left: -30%;
  top: 50%;
  height: 42px;
  width: 118px;
  background-repeat: no-repeat;
  transform: rotateY(179deg);
}
.profit_list_4::after {
  content: "";
  background: url("/icons/line_with_arrow.svg");
  position: absolute;
  left: -30%;
  top: 15%;
  height: 42px;
  width: 118px;
  background-repeat: no-repeat;
  transform: rotate(179deg);
}
/* .borderleft {
  border-left: 15px solid #f6b552;
  position: absolute;
  top: 50%;
  bottom: 0%;
} */
.borderbottomfirst{
  background: transparent;
  position: absolute;
  top: 50%;
  left: -30px;
  bottom: -4%;
  width: 116%;
  z-index: -1;
  border-top: 0px;
  border-left: 54px;
  border-right: 54px;
  border-bottom: 20px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 50px;
  border-color: #08bbb3;
  border-style: solid;
}
.borderbottommiddle {
  background: transparent;
  position: absolute;
  bottom: 52%;
  left: -30px;
  top: -9%;
  width: 115.9%;
  z-index: -1;
  border-left: 54px;
  border-right: 54px;
  border-top: 20px;
  border-top-left-radius: 47px;
  border-top-right-radius: 50px;
  border-color: #00bdea;
  border-style: solid;
}
.borderbottomlast {
  background: transparent;
  position: absolute;
  top: 52%;
  left: -30px;
  bottom: -9%;
  width: 116%;
  z-index: -1;
  border-top: 0px;
  border-left: 31px;
  border-right: 31px;
  border-bottom: 20px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 50px;
  border-color: #f6b552;
  border-style: solid;
}
/* .borderright {
  border-right: 15px solid #f6b552;
  position: absolute;
  top: 50%;
  bottom: 0%;
  right: 0;
} */
.custom_order_list li{
  display: flex;
  gap:15px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
  
}
.ant-input:hover{
border: 0 !important;
}
label.ant-form-item-required::before {
  display: none !important;
}
.contact_us_form span.ant-checkbox-inner {
  border-radius: 0px !important;
  background-color: #FFFFFF80;
  border: none !important;
}
.ant-form .ant-checkbox-inner{
  background-color: #D9D9D9;
  border-radius: 0px !important;
  border: none !important;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
@media (min-width: 769px) {
  .menubtn {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .social_profit_wrapper {
    min-width: 280px;
    max-width: 280px;
    min-height: 280px;
    max-height: 280px;
  }
  .social_profit_image_wrapper {
    min-width: 245px;
    max-width: 245px;
    min-height: 245px;
    max-height: 245px;
  }
  .social_profit_image {
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
    max-height: 220px;
  }
  .borderbottomfirst,.borderbottommiddle,.borderbottomlast {
    left: -25px;
}
}
@media screen and (max-width: 1279px) {
  .profit_list::after {
    display: none;
  }
  /* .social_profit_wrapper {
    min-width: 280px;
    max-width: 280px;
    min-height: 280px;
    max-height: 280px;
}
.social_profit_image_wrapper {
  min-width: 245px;
  max-width: 245px;
  min-height: 245px;
  max-height: 245px;
}
.social_profit_image{
  min-width: 220px;
    max-width: 220px;
    min-height: 220px;
    max-height: 220px;
} */
}
@media screen and (max-width:1200px) {
  .borderbottomfirst,.borderbottommiddle,.borderbottomlast {
    border:none !important;
}

}
@media screen and (max-width:1120px) {
.promote_love_wrapper{
  flex-direction: column !important;
  gap: 80px;
}
.partner_network_img::after {
  width: 702px;
}
.promote_love_middle_icon{
  top:-20% !important;
  bottom:auto !important;
}
.promote_love_middle_div{
  border-bottom-width: 15px !important;
  border-top-width: 0 !important;
}
}
@media screen and (max-width:1024px) {
  .partner_network_img::after {
    width: 662px;
  }
  
}
@media screen and (max-width:991px) {
  .partner_network_img::after,.partner_network::before {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .bigmenu {
    display: none;
  }
  .m-hide {
    display: none;
  }
  .mobile_menu_drawer .ant-drawer-header-title {
    flex-direction: row-reverse;
  }
  .custom_order_list li{
    font-size: 18px;
    margin-bottom: 10px;
  }
  ol.list-inside.custom_order_list {
    margin-top: 10px;
}
.termsData br {
  content: "";
  line-height: 0 !important;
  margin: 0;
  padding: 0;
  height: 5px;
  display: block;
}
}
@media screen and (max-width:640px) {
  .promote_love_wrapper {
    margin-top: 30px;
}
}